html,
body {
  margin: 0;
  background: #fafafa;
  z-index: -1;
  position: relative;
}

.shadow:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
}

.shadow:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}


.card {
  position: relative;
  padding: 2px 20px;
  /* height: 100px; */
  background: #f2f2f2;
  margin: 20px 40px;
  transition: 0.4s all;
  box-shadow: 3px 5px #ebebeb;
}

.card.open {
  height: 200px;
  background: #ffffff;
}

.bio {
  display: none;
}

article {
  padding-right: 80px;
  padding-top: 40px;
}

.articleSection {
  margin-right: 2.5rem;
}

@media only screen and (min-width: 600px) {
  .card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
  }
}

@media only screen and (max-device-width: 800px) and (orientation: portrait) {
  .card {
    margin: 12px 10px;
  }
}

@media only screen and (max-width: 1093px) {
  .headingMain {
    margin: 20px;
  }

  article {
    margin: 0 30px;
    padding: 0;
  }

  .bio {
    display: block;
  }
}
